#blueBox {
	background: #0066FF;
	height: 700px;
	width: 80%;
	border:10px;
	border-color: #9494B8;
	position: relative;
}

.class1 {
	position: absolute;
	margin-left: 50%;
	top: 0;
}

.class2 {
	position: absolute;
	margin-left: 50%;
	bottom: 0;
}